In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import time
import pprint 
from IPython.display import Markdown, display
import matplotlib.pyplot as plt

In [2]:
# Import Splinter and set the chromedriver path
executable_path = {"executable_path": "/Users/rolandoportal/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Visit the following URL
latest_url = "https://redplanetscience.com"
browser.visit(latest_url)

In [4]:
# Create a Beautiful Soup object
html = browser.html
latest_soup = BeautifulSoup(html, 'html.parser')
#collect the latest News Title
latest_title = latest_soup.find('div',class_='content_title').text
print("-" * 12)
print(f'TITLE: {latest_title}')
print("-" * 12)
# collect the latest Paragraph Text
latest_paragraph = latest_soup.find('div',class_='article_teaser_body').text
print("-" * 12)
print(f'TITLE: {latest_paragraph }')
print("-" * 12)

------------
TITLE: Scientists Explore Outback as Testbed for Mars
------------
------------
TITLE: Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
------------

# JPL Mars Space Images - Featured Image

In [5]:
jpl_url = 'https://spaceimages-mars.com'
jpl_url_root = jpl_url.split('/spaceimages')[0]
browser.visit(jpl_url)

In [6]:
browser.links.find_by_partial_text('FULL')
time.sleep(5)

In [7]:
jpl_html = browser.html
jpl_soup = BeautifulSoup(jpl_html, "html.parser")
jpl_img_result = jpl_soup.find("img", class_="headerimage fade-in")
jpl_img_result

In [8]:
result=("/image/featured/mars1.jpg")

In [9]:
# Make sure to save a complete url string for this image
featured_image_url = f"https://spaceimages-mars.com{result}"
print(f"Complete URL String:\n{featured_image_url}")

Complete URL String:
https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

In [10]:
planet_url = 'https://galaxyfacts-mars.com'
browser.visit(planet_url)

In [11]:
# Use Panda's `read_html` to parse the url
planet_df = pd.read_html("https://galaxyfacts-mars.com")[0]
print(planet_df)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# Clean up DataFrame, set index
planet_df.columns=["Planet Profile", "Values Mars", "Values Earth"]
planet_df.set_index("Planet Profile", inplace=True)
planet_df

                             Values Mars     Values Earth
Planet Profile
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
facts_html = planet_df.to_html()
facts_html = facts_html.replace("\n","")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values Mars</th>      <th>Values Earth</th>    </tr>    <tr>      <th>Planet Profile</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'